include COPYING
include Makefile
recursive-include systemd *
recursive-include scripts *
recursive-include po *.po *.pot Makefile
recursive-include initial_setup *.py *.glade *.txt
recursive-exclude modules *.pyc *.pyo
