include COPYING
include README.rst
include Makefile
recursive-include systemd *
recursive-include scripts *
recursive-include po *.po *.pot Makefile
recursive-include initial_setup *.py *.glade
recursive-exclude modules *.pyc *.pyo
