[Unit]
Description=Inital Setup configuration program (text mode)
After=livesys.service plymouth-quit.service
After=systemd-vconsole-setup.service
Before=display-manager.service getty@tty1.service
Conflicts=plymouth-quit.service

[Service]
Type=oneshot
ExecStartPre=-/bin/plymouth quit
ExecStart=/usr/sbin/initial-setup
ExecStartPost=/bin/systemctl disable initial-setup-text.service
TimeoutSec=0
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
