[Unit]
Description=Initial Setup reconfiguration mode trigger service
After=livesys.service plymouth-quit-wait.service
After=systemd-vconsole-setup.service
Before=display-manager.service getty@tty1.service getty@ttyUSB0.service
Before=serial-getty@ttyS0.service serial-getty@ttyO0.service serial-getty@ttyO2.service serial-getty@ttyAML0.service
Before=serial-getty@ttyAMA0.service serial-getty@ttymxc0.service serial-getty@ttymxc3.service serial-getty@hvc0.service
Before=serial-getty@ttyMSM0.service serial-getty@ttySAC2.service serial-getty@ttyAS1.service
Before=initial-setup.service
Conflicts=plymouth-quit-wait.service
ConditionKernelCommandLine=!rd.live.image
ConditionPathExists=/.unconfigured
Requires=initial-setup.service

[Service]
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
ExecStart=/usr/libexec/initial-setup/reconfiguration-mode-enabled
TimeoutSec=0
RemainAfterExit=no

[Install]
WantedBy=graphical.target
WantedBy=multi-user.target
