[Unit]
Description=Initial Setup configuration program text interface
After=livesys.service plymouth-quit-wait.service
After=systemd-vconsole-setup.service
# getty-pre.target is a pasive target, we need to request it before we can use it
Wants=getty-pre.target
# prevent getty from running on any consoles before we are done
Before=getty-pre.target
Before=display-manager.service
Before=initial-setup.service
Conflicts=plymouth-quit-wait.service
ConditionKernelCommandLine=!rd.live.image
Requires=initial-setup.service

[Service]
Type=oneshot
TimeoutSec=0
StandardInput=tty
StandardOutput=tty
RemainAfterExit=yes
ExecStart=/usr/libexec/initial-setup/text-service-is-deprecated
TimeoutSec=0
RemainAfterExit=no

[Install]
WantedBy=graphical.target
WantedBy=multi-user.target
