[Unit]
Description=Initial Setup reconfiguration mode trigger service
After=livesys.service plymouth-quit-wait.service
After=systemd-vconsole-setup.service
# getty-pre.target is a pasive target, we need to request it before we can use it
Wants=getty-pre.target
# prevent getty from running on any consoles before we are done
Before=getty-pre.target
Before=display-manager.service
Before=initial-setup.service
Conflicts=plymouth-quit-wait.service
ConditionKernelCommandLine=!rd.live.image
ConditionPathExists=/.unconfigured

[Service]
Type=oneshot
TimeoutSec=0
StandardInput=tty
StandardOutput=tty
RemainAfterExit=yes
ExecStartPre=/bin/kill -55 1
ExecStartPre=-/bin/plymouth quit
ExecStart=/usr/libexec/initial-setup/reconfiguration-mode-enabled
ExecStartPost=/bin/kill -54 1
TimeoutSec=0
RemainAfterExit=no

[Install]
WantedBy=graphical.target
WantedBy=multi-user.target
